<div class="row">
  <div class="col-md-4 text-xs-center">
    <a href="/">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" width="100%" height="450px;" src="<%= @selected_movie.image %>" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><%= @selected_movie.title %> <span class="label label-pill label-default"><%= @selected_movie.imdb_rating %></span></h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-xs-center">
    <a href="/">
      <i class="fa fa-heart hearted" aria-hidden="true"></i>
    </a>
  </div>
</div>

<script type="text/javascript">
  $(document).keydown(function(e) {
      console.log(e.keyCode);
  });
  $(document).keydown(function(e) {
    if(e.keyCode == 37) { // left
      // $("#showroom").animate({
      //   left: "-=980"
      // });
      console.log('left');
      location.href='http://localhost:3000/';
    }
    else if(e.keyCode == 39) { // right
      // $("#showroom").animate({
      //   left: "+=980"
      // });
      console.log('right');
      location.href='http://localhost:3000/';
    }
  });
</script>